<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/contracts.js" type="text/javascript"></script>
</head>
<body>
<ul>
    <li class="liHeader">A</li>
    <li>About</li>
    <li>Assign</li>
    <li class="liHeader">B</li>
    <li>branch</li>
    <li>branner</li>
    <li class="liHeader">C</li>
    <li>ccccc</li>
    <li>city</li>
    <li>come from</li>
    <li>common nnnnn</li>
    <li class="liHeader">G</li>
    <li>Google</li>
    <li>Go home</li>
    <li>git from</li>
    <li class="liHeader" >K</li>
    <li>kkk</li>
    <li>kimm</li>
    <li>kill bill</li>
    <li>kkk ooooo</li>
</ul>
</body>
</html>